@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../font/Arial.woff2") format("woff2"), url("../font/Arial.woff2") format("woff");
  font-display: swap; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  display: flex;
  font-family: 'Arial'; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.paragraph {
  color: var(--text-paragraph);
  font-size: 26px;
  font-style: normal;
  letter-spacing: 1px; }
  .paragraph-bold {
    font-weight: bold; }
  .paragraph-small {
    font-size: 24px; }
  .paragraph-med {
    font-size: 28px; }
  .paragraph-big {
    font-size: 30px; }

:root {
  --background-main: #e4f7b5;
  --background-light: #fbfff2;
  --background-mid: #c3ef79;
  --background-dark: #baf05e;
  --text-header: #20026f;
  --text-paragraph: #3b1997; }

.container {
  width: 94%; }

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px; }

.social {
  width: 6%;
  height: 100vh;
  background-color: var(--background-main); }
  .social_container {
    width: 50px;
    height: 50px; }
    .social_container:not(:last-child) {
      margin-bottom: 24px; }
  .social-icon {
    width: 50px;
    height: 50px; }

.socials {
  position: fixed; }

.footer_details {
  grid-column: 2/5; }
  .footer_details-logo {
    margin: 40px 0 50px;
    width: 150px;
    height: 150px; }
  .footer_details-address {
    margin-bottom: 45px; }
    .footer_details-address-head {
      margin-bottom: 20px; }
  .footer_details-info img {
    width: 26px;
    height: 26px;
    margin-right: 30px; }
  .footer_details-info div {
    display: flex;
    align-items: center;
    margin-bottom: 16px; }

.footer_nav {
  grid-column: 6/10;
  display: flex;
  margin-top: 130px; }
  .footer_nav-head {
    margin-bottom: 40px;
    letter-spacing: 0; }
  .footer_nav-link {
    margin-bottom: 20px;
    letter-spacing: 0; }
  .footer_nav ul {
    width: 50%; }

.footer_form {
  grid-column: 10/13;
  margin-top: 130px; }
  .footer_form-head {
    letter-spacing: 0;
    margin-bottom: 25px; }
  .footer_form-form {
    position: relative; }
    .footer_form-form label {
      position: absolute;
      width: 28px;
      height: 28px;
      top: 50%;
      left: 28px;
      transform: translateY(-50%); }
    .footer_form-form input {
      padding: 21px 0 21px 86px;
      width: 100%;
      max-width: 380px;
      border-radius: 10px;
      font-size: 22px; }
  .footer_form-btn {
    margin-top: 25px;
    padding: 8px 20px;
    font-size: 24px;
    border-radius: 10px;
    background-color: var(--background-dark);
    outline: none;
    border: 0; }

.copyright {
  background-color: var(--background-dark);
  padding: 26px 0;
  margin-top: 24px;
  letter-spacing: 0; }
