.products {
  grid-column: 2/12;
  padding: 6rem 5rem 8rem;
  // text-align: center;
  border-radius: 80px;
  box-shadow: var(--box-shadow-container);
  background-color: var(--background-light);
  margin-bottom: 8rem;

  &-head {
    margin-bottom: 7rem;
    text-align: center;
  }
}

.product {
  width: 100%;
  border-radius: 40px;
  box-shadow: var(--box-shadow-product);

  &-img {
    // height: 65.7%;
    padding: 2rem 1.2rem;
    border-radius: 40px 40px 0 0;
    background-color: var(--background-main);

    // img {
    //   margin-top: auto;
    // }
  }

  &_details {
    // height: 34.3%;
    text-align: center;
    padding: 3rem 0;
    border-radius: 0 0 40px 40px;
    flex-direction: column;
    background-color: #fff;

    &-h3 {
      margin-bottom: 1.5rem;
    }

    &-p {
      margin-bottom: 4rem;
    }
  }

  &-btn {
    font-size: 2.4rem;
  }
}

@include respond(1300) {
  .products {
    border-radius: 50px;
  }

  .product {
    border-radius: 20px;

    &-img {
      border-radius: 20px 20px 0 0;
    }

    &_details {
      border-radius: 0 0 20px 20px;
    }
  }
}

@include respond(800) {
  .products {
    grid-column: 1/5;
    padding: 6rem 5rem 8rem;
    margin: 0 2rem 8rem;
    border-radius: 30px;
  }
}

@include respond(600) {
  .product {
    max-width: 400px;
    margin: 0 auto;
  }
}

@include respond(500) {
  .products {
    box-shadow: none;
    background-color: transparent;
    padding: 0;
  }
  .product {
    box-shadow: none;
    max-width: 360px;
    margin: 0 auto;
  }
}
