:root {
  --background-main: #e4f7b5;
  --background-light: #fbfff2;
  --background-mid: #c3ef79;
  --background-dark: #baf05e;

  --background-about-us: rgba(251, 255, 242, 0.1);

  --text-header: #20026f;
  --text-paragraph: #3b1997;
}
