// .header {
//   grid-template-rows: auto auto;
//   background-color: var(--background-main);
//   grid-column: 1/13;
// }

.home_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;

  &_main {
    grid-column: 2/8;
    grid-row: 1/2;
    z-index: 10;
  }

  &-logo {
    height: 15rem;
    width: 15rem;
  }
}

.header-heading {
  grid-column: 3/8;
  grid-row: 2/3;
  margin-top: 11.5rem;

  p {
    margin-bottom: 7.2rem;
    max-width: 46.5rem;
  }

  button {
    margin-bottom: 5.4rem;
  }
}

.header-image {
  grid-column: 8/13;
  grid-row: 1/3;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 8;

  img {
    position: absolute;
    bottom: -6px;
  }
}

@include respond(1300) {
  .home_nav {
    margin: 2rem 0 0 8rem;

    &_main {
      grid-column: 1/9;
    }
  }

  .header-heading {
    grid-column: 2/8;
    margin: 10rem 0 0 2rem;
  }
}

@include respond(1100) {
  .home_nav {
    margin: 2rem 0rem 0;

    &_main {
      grid-column: 2/12;
    }
  }

  .header-image {
    grid-row: 2/3;

    img {
      max-width: 410px;
    }
  }
}

@include respond(950) {
  .header-image {
    grid-column: 7/13;
    display: flex;
    justify-content: flex-end;

    img {
      // height: 100%;
      // width: auto;
      max-width: 350px;
    }
  }

  .header-heading {
    grid-column: 2/9;
    z-index: 15;
  }
}

@include respond(800) {
  .home_nav {
    &_main {
      grid-column: 1/5;
      grid-row: 1/2;
      z-index: 10;
    }

    &-logo {
      height: 15rem;
      width: 15rem;
    }
  }

  .header-heading {
    grid-column: 1/5;
    grid-row: 2/3;
    margin-top: 11.5rem;

    p {
      margin-bottom: 7.2rem;
      max-width: 46.5rem;
    }

    button {
      margin-bottom: 5.4rem;
    }
  }

  .header-image {
    grid-column: 1/5;
    grid-row: 3/4;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 8;

    img {
      position: absolute;
      bottom: -6px;
    }
  }
}
