.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.body {
  grid-template-rows: repeat(auto, 3);
}

.main-grid {
  grid-column: 1/13;
  grid-row: 2/3;
  grid-template-rows: 145px auto auto;
}

.grid-header {
  grid-column: 1/13;
  grid-row: 1/2;
  grid-template-rows: auto auto;
  background-color: var(--background-main);
}

.product-grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  margin-bottom: 6rem;
}

.footer {
  grid-template-rows: auto;
}

// .container {
//   width: 94%;
//   grid-template-rows: repeat(5, auto);
// }

// .main {
//   grid-template-rows: 145px auto 145px;
// }
