.nav_main {
  grid-column: 1/13;
  grid-row: 1/2;
  background-color: var(--background-main);
}

.nav {
  grid-column: 1/13;
  align-items: center;

  &-logo {
    grid-column: 2/5;
    padding: 1.2rem 0;
  }

  &_container {
    display: flex;
    grid-column: 7/12;
    justify-self: end;
  }

  &_list {
    position: relative;
  }

  &_list::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    width: 0;
    height: 2px;
    background-color: var(--text-paragraph);
    transition: 0.3s ease-in;
  }

  &_list:hover::after {
    width: 100%;
  }

  &_list:not(:last-child) {
    margin-right: 6rem;
  }
}

@include respond(1100) {
  .nav {
    &-logo {
      grid-column: 1/5;

      img {
        max-width: 300px;
      }
    }
  }
}

@include respond(800) {
  .nav {
    &-logo {
      grid-column: 1/4;
      padding: 0.5rem 0;

      img {
        min-width: 260px;
      }
    }

    &_container {
      grid-column: 8/13;
      display: none;
    }
  }
}

@include respond(500) {
  .home_nav_main {
    display: none;
  }
}
