.social {
  width: 6%;
  height: 100vh;
  background-color: var(--background-main);

  &_container {
    width: 50px;
    height: 50px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &-icon {
    width: 50px;
    height: 50px;
  }
}

.socials {
  position: fixed;
}
