.social {
  // height: 100vh;
  grid-column: 1/2;
  grid-row: 1/4;
  // position: relative;
  // z-index: 10;
  // background-color: var(--background-main);

  &_container {
    width: 50px;
    height: 50px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &-icon {
    width: 50px;
    height: 50px;
  }
}

.socials {
  position: fixed;
  z-index: 10;
  // left: 50%;
  top: 50%;
  transform: translateY(-50%);
}
